<%- include('partials/header.ejs') %>

<div class="opaque-background p-4">

  <a href="/" class="btn btn-info clear home m-2 px-3"><i class="far fa-newspaper mr-2"></i>The Tech Blog</a>

  <% if (user) { %>
    <p class="clear yellow text-center welcome">Welcome <%= user.username %>!</p>
    <button type="submit" class="btn btn-info clear logout-btn m-2 px-3">
      Logout
      <i class="fas fa-sign-out-alt ml-2 logout-icon clear"></i>
    </button>
  <% } else { %>
    <p class="clear yellow text-right welcome">You are not logged in!</p>
  <% } %>

  <div class="jumbotron custom-jumbotron clear">
    <h3 id="date" class="home-date"></h3>
    <hr>
      <div class="container text-center">
        <i class="far fa-newspaper fa-4x p-2"></i>
        <h1 class="display-4 inline">
        Welcome to The Tech Blog
        </h1>
        <i class="far fa-newspaper fa-4x p-2"></i>
        <p class="lead">Share your Posts here on the Tech Blog!</p>
        <hr />
        <% if (!user) { %>
          <a class="btn btn-info mx-4" href="/api/register" role="button">Register</a>
          <a class="btn btn-info mx-4" href="/api/login" role="button">Login</a>
          <a class="btn btn-info mx-4" href="/api/dashboard" role="button">Dashboard</a>
        <% } else { %>
          <a class="btn btn-info mx-4" href="/api/dashboard" role="button">Dashboard</a>
          <a class="btn btn-info mx-4" href="/api/user" role="button">User Profile</a>
        <% } %>
      </div>
  </div>

  <div class="container d-flex justify-content-start clear home-posts my-4">

    <% if(posts.length > 0) { %>
    <ul>
      <% posts.forEach(post => { %>
      <li class="home-post-li">
        <h4 id="title" class="mt-3"><%= post.title %></h4>
          <% const user = users.find(u => u.id === post.userId); %>
          <% if (user) { %>
            <p class="mx-5 pt-1">Author: <%= user.username %></p>
          <% } else { %>
            <p class="mx-5">Author: Unknown</p>
          <% } %>
        <p class="createdOn"><%= post.updatedAt.toDateString() %></p>
        <button
          id="comment<%= post.id %>"
          class="btn btn-info comment-btn"
          data-id="<%= post.id %>"
        >
          <i class="fas fa-plus mr-2"></i>
          Comment
        </button>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No posts found.</p>
    <% } %>
  </div>

</div>

<script src="./js/home.js"></script>
<script src="./js/date.js"></script>

<%- include('partials/footer.ejs') %>