<%- include('partials/header.ejs') %>

<div class="opaque-background p-4">
  <!-- Welcome user by name -->
  <% if (user) { %> <% let atIndex = user.username.indexOf('@'); %>
  <p class="clear yellow text-center welcome">
    Welcome <%= user.username.slice(0, atIndex) %>!
  </p>
    <!-- Logout button -->
    <button type="submit" class="btn btn-info clear logout-btn m-2 px-3">
      Logout
      <i class="fas fa-sign-out-alt ml-2 logout-icon clear"></i>
    </button>
  <% } else { %>
  <p class="clear yellow text-right welcome">Please Register or Login!</p>
  <% } %>

  <!-- Home button -->
  <a href="/" class="btn btn-info clear home m-2"
    ><i class="far fa-newspaper mr-2"></i>
    The Tech Blog
  </a>



  <!-- Jumbotron -->
  <div class="jumbotron custom-jumbotron clear">
    <h3 id="date" class="home-date pink"></h3>
    <hr />
    <div class="container text-center">
      <i class="far fa-newspaper fa-4x px-2 mr-2 yellow"></i>
      <h1 class="display-4 inline yellow">Welcome to The Tech Blog</h1>
      <i class="far fa-newspaper fa-4x px-2 yellow"></i>
      <p class="lead yellow mt-3">Share your Posts here on the Tech Blog!</p>
      <hr />
      <!-- Conditional Display of Buttons -->
      <% if (!user) { %>
      <a class="btn btn-info mx-4" href="/api/register" role="button"
        >Register</a
      >
      <a class="btn btn-info mx-4" href="/api/login" role="button">Login</a>
      <a class="btn btn-info mx-4" href="/api/dashboard" role="button"
        >Dashboard</a
      >
      <% } else { %>
      <a class="btn btn-info mx-4" href="/api/dashboard" role="button"
        >Dashboard</a
      >
      <a class="btn btn-info mx-4" href="/api/user" role="button"
        >User Profile</a
      >
      <% } %>
    </div>
  </div>

  <!-- Posts Section -->
  <div class="container clear home-posts my-4">
    <% if(posts.length > 0) { %>
    <ul>
      <!-- Show Post Titles and Dates -->
      <% posts.forEach(post => { %>
        <!-- If clicked Show Content, Author, Add Comment Button and Comments made on Posts -->
      <li class="home-post-li p-3" onclick="togglePostContent(this)">
        <div class="d-flex justify-content-between">
          <h4 id="title" class="post-title yellow"><%= post.title %></h4>
          <% const user = users.find(u => u.id === post.userId); %>
          <% if (user) { %>
            <% let atIndex = user.username.indexOf('@'); %>
            <p class="pt-1">
            Posted by <%= user.username.slice(0, atIndex) %>
            <span class="createdOn"
              >on <%= post.updatedAt.getMonth() +1 %>/<%= post.updatedAt.getDate() %>/<%= post.updatedAt.getFullYear() %></span>
            </p>
          <% } else { %>
            <p class="mx-5">Author: Unknown</p>
          <% } %>
        </div>
        <p class="post-content" style="display: none"><%= post.content %></p>
        <% if (comments.length > 0) { %>
          <div class="comment-div d-flex justify-content-center">
            <!-- Only show Comments for that Post by matching ID -->
            <% comments.filter(c => c.postId === post.id).forEach(c => { %>
              <p class="comment-content p-1">
                <em>
                '<%= c.comment %>''
                </em>
              </p>
              <% const author = users.find(u => u.id === c.userId); %>
              <% let atIndex = author.username.indexOf('@'); %>
              <p class="comment-author mx-1 p-1">
                <em>
                  from <%= author.username.slice(0, atIndex) %>
                  <span>
                     on <%= c.createdAt.getMonth() + 1 %>/<%= c.createdAt.getDate() %>/<%= c.createdAt.getFullYear() %>
                  </span>
                </em>
              </p>
            <% }) %>            
          </div>
          <% } %>
        <button
          id="comment<%= post.id %>"
          class="btn btn-info comment-btn m-2"
          data-id="<%= post.id %>"
          style="display: none"
          data-bs-toggle="modal"
          data-bs-target="#commentModal<%= post.id %>"
        >
          <i class="fas fa-plus-square mx-1"></i>
          Comment
        </button>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p class="pink p-2">No posts found.</p>
    <% } %>
  </div>

  <!-- Comment Modal -->
  <% posts.forEach(post => { %>

  <div
    class="modal fade comment-modal"
    id="commentModal<%= post.id %>"
    tabindex="-1"
    aria-labelledby="commentModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-5" id="commentModalLabel">Add Comment</h3>
          <button
            type="button"
            class="btn btn-info btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            X
          </button>
        </div>
        <div class="modal-body">
          <form>
            <input type="hidden" class="post-id" data-id="<%= post.id %>"/>
            <div class="mb-3">
              <label for="comment" class="col-form-label"></label>
              <input
                type="text"
                class="form-control comment-input"
                id="comment"
                >
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info comment-modal-btn" data-id="<%= post.id %>"
            <% if (user) { %>
              data-user-id="<%= user.id %>"
            <% } %>>
            Add Comment
          </button>
        </div>
      </div>
    </div>
  </div>
  <% }) %>

</div>

<script src="./js/home.js"></script>
<script src="./js/date.js"></script>

<%- include('partials/footer.ejs') %>
