<%- include('partials/header.ejs') %>

<div class="background-user">

  <h1 class="text-center yellow clear p-5">User Profile</h1>
  <div class="container clear profile pt-5">
  
  <% if (user) { %>
    <ul class="d-flex justify-content-center">
        <li class="mb-3">ID: <%= user.id %> <br>
          Username: <%= user.username %>
          <button class="btn btn-info editDetails py-1 ml-5"
            data-id="<%= user.id %>"
            data-username="<%= user.username %>">
            <i class="fas fa-edit mr-1"></i>
            Edit
          </button>
        </li>
    </ul>
  <% } else { %>
    <p>No users found.</p>
  <% } %>
</div>

  <!-- Bootstrap modal -->
  <div class="modal fade pt-5" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title yellow" id="editModalLabel">Edit User</h4>
          <button type="button" class="btn btn-info btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
          <h5 class="mb-3">User Profile</h5>
          <div id="modalContent"></div>
          <button class="btn btn-danger delete-btn">
            <i class="fas fa-trash mr-1"></i>
            Delete</button>
        </div>
        
      </div>
    </div>
  </div>

</div>

<script src="../js/editUser.js"></script>

<%- include('partials/footer.ejs') %>