<%- include('partials/header.ejs') %>

    <h1>User Details</h1>
    <div>
        <% if(user) { %>
            <p>User ID: <%= user.id %></p>
            <p>Username: <%= user.username %></p>
            <form action="/api/user/<%= user.id %>" method="PUT">
                <label for="username">Update Username:</label>
                <input type="text" id="username" name="username" required>
                <button type="submit" class="update-user">Update</button>
            </form>
            <form action="/api/user/<%= user.id %>" method="DELETE">
                <button type="submit" class="delete-user">Delete</button>
            </form>
        <% } else { %>
            <p>No user found.</p>
        <% } %>
    </div>
    
    <%- include('partials/footer.ejs') %>
